In [1]:
import pandas as pd
import io
import requests

In [3]:
url = "https://fiin-fundamental.ssi.com.vn/FinancialStatement/DownloadIncomeStatement?language=en&OrganCode=SSI&Skip=0&Frequency=Quarterly"
request_headers = {
    "__cf_bm":"repOUGJAbNqhUbYAfHlUllJmOaKGkwJ9s485TmSPV64-1694343191-0-AVmNz0gQVnL/sZaw1jl/QEIiL0Ji75kFa2hgJswBArgCdnJvxiIR3ePGPUddKKlQZxzT5wd0Y1JAIVu+67SC0Q8="
}
response = requests.get(url, headers=request_headers)

with io.BytesIO(response.content) as buffer:
    df = pd.read_excel(buffer, engine="openpyxl")

In [128]:
import requests

url = f"https://fiin-fundamental.ssi.com.vn/FinancialStatement/DownloadBalanceSheet?language=en&OrganCode=VCB&Skip=0&Frequency=Quarterly"

payload = {}
headers = {
  'authority': 'fiin-fundamental.ssi.com.vn',
  'accept': '*/*',
  'accept-language': 'en-US,en;q=0.9,vi;q=0.8',
  'access-control-request-headers': 'content-type,x-fiin-key,x-fiin-seed,x-fiin-user-id',
  'access-control-request-method': 'GET',
  'origin': 'https://iboard.ssi.com.vn',
  'referer': 'https://iboard.ssi.com.vn/',
  'sec-fetch-dest': 'empty',
  'sec-fetch-mode': 'cors',
  'sec-fetch-site': 'same-site',
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36 Edg/116.0.1938.76',
  'Cookie': '__cf_bm=DTCnVdL.ZYR5Qb68BHPnX_vbWURBrOKVBPNboZGMkwQ-1694345120-0-AXeE6idhxc1Z0SHIK7m50wA6Nc13DQfj+gW62Oi5omSL7qpP1NWjh5cmjnVCpO4FDK/DWbsOeSIt1/TQ3BRWCEI='
}

response = requests.request("GET", url, headers=headers, data=payload)

with io.BytesIO(response.content) as buffer:
    df = pd.read_excel(buffer, engine="openpyxl")

In [125]:
df2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data Title,BALANCE SHEEET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Date Of Extract,2023-09-10 22:38:41.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Cleaning and Transform**

In [129]:
# Drop NaN values
df = df.dropna()
# Reset and drop Indexes
df = df.reset_index(drop=True)
# Tranpose and reset the index again
df = df.transpose().reset_index(drop=True)
# Set the first row as headers
new_headers = df.iloc[0]
df = df[1:]
df.columns = new_headers
# Change "ITEMS" to "Quarter"
df = df.rename(columns={"ITEMS": "Quarter"})
# Reverse the order 
df = df.iloc[::-1]
df = df.reset_index(drop=True)

df.head()

,Quarter,TOTAL ASSETS,Cash and precious metals,Balances with the SBV,Placements & loan to credit institutions,"Trading securities, net",Trading securities,Less: Provision for diminution in value of trading securities,Derivatives and other financial assets,"Loans and advances to customers, net",...,Fund for basic construction,Share premium,Treasury shares,Preferred shares,Other capitals,Reserves,Foreign currency difference reserve,Difference upon assets revaluation,Retained Earnings,Minority interest
0,Q2 2023,1704273133000000,16134106000000,56430924000000,286406768000000,1375964000000,1394711000000,-18747000000,217428000000,1139981404000000,...,0,4995389000000,0,0,809837000000,22564054000000,-886284000000,0,77094650000000,0
1,Q1 2023,1846431290000000,15537950000000,139256635000000,334747844000000,1595430000000,1618113000000,-22683000000,224625000000,1142187065000000,...,0,4995389000000,0,0,809837000000,22556829000000,-842553000000,0,69719946000000,0
2,Q4 2022,1814188209000000,18348519000000,92557809000000,313591813000000,1499687000000,1543575000000,-43888000000,156515000000,1120286831000000,...,0,4995389000000,0,0,809837000000,18133039000000,-863071000000,0,67499703000000,0
3,Q3 2022,1649664327000000,16293080000000,11378539000000,302927159000000,1347762000000,1407066000000,-59304000000,0,1093971420000000,...,0,4995389000000,0,0,809837000000,18122983000000,-741021000000,0,57774989000000,0
4,Q2 2022,1601680964000000,15097807000000,28813961000000,255536982000000,3150052000000,3187225000000,-37173000000,0,1066990245000000,...,0,4995389000000,0,0,344658000000,18171942000000,-1782000000,0,52056550000000,0